This is Error Handler Page.
<br/>
============================
<br/>

<div>
    <div style="background-color: red;color:yellow;width:500px;height:20px">Error In Detail</div>
    <div style="background-color:gray;color:white; width:500px;">
        <table style="width:100%">
            <tr><th style="width:40%">Error Message: </th><td>{{message}}</td></tr>
            <tr><th>Error Code: </th><td>{{code}}</td></tr>
        </table>
    </div>
</div>