<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Its a try App</title>
</head>
<body>
    {{> header}} <!-- adding header at layout here -->
    {{{body}}}
    {{> footer}}
</body>
</html>