<br />
<br />
<div style="color:gray">{{application}}</div> <!-- application is define at app.js as a local variable (globalized for this application) through hbs moudle. -->

<!-- Note: In partials and templates, local data can be accessed without using @ prefix. -->