This is Error Handler Page.
<br/>
============================
<br/>

<div>
    <div style="background-color: red;color:yellow;width:300px;height:20px">Error In Detail</div>
    <div style="background-color:gray;color:white; width:300px;">
        <ul>
            <li>Error Message: {{message}}</li>
            <li>Error Code: {{code}}</li>
        </ul>
    </div>
</div>